
<!--about section-->

<section class="about" id="about">
    <div class="container">
        <div class="row aling-items-center">
        <div class="col-md-6 image">
            <img src="assets/images/bg-02.png" class="w-100 mb-4 md-md-0" alt="">
        </div>  

        <div class="col-md-6 content">
          <h2><span>About us</span></h2>
          <h3>Helthcare For Your Family </h3>
            <p>
                Welcome to our healthcare website, your one-stop destination for
                reliable and comprehensive health care information. We are committed
                to promoting wellness and providing valuable resources to empower you
                on your health journey.
              </p>
              <p>
                Explore our extensive collection of expertly written articles and
                guides covering a wide range of health topics. From understanding
                common medical conditions to tips for maintaining a healthy lifestyle,
                our content is designed to educate, inspire, and support you in making
                informed choices for your health.
              </p>
              <p>
                Discover practical health tips and lifestyle advice to optimize your
                physical and mental well-being. We believe that small changes can lead
                to significant improvements in your quality of life, and we're here to
                guide you on your path to a healthier and happier you.
              </p>
              <button type="submit" class="btn btn-link"><a class="nav-link"  href="/appointment">Make Appointment</a></button>

        </div>

        </div>
    </div>
</section>
