<section class="footer">
    <div class="box-container container">

    <div class="box">
    <i class="fas fa-phone"></i>
    <h3>phone number</h3>
    <p>+91 9611239965</p>
    <p>+91 9611239956</p>
    </div>

    <div class="box">
    <i class="fas fa-mapp-maker-alt"></i>
    <h3>our address</h3>
    <p>pune, india -411005</p>
    <p>+91 9611239956</p>
    <p>+91 9611239978</p>

    </div>

    <div class="box">
    <i class="fas fa-envelop"></i>
    <h3>email address</h3>
    </div>

    </div>

    <div class="credit"> &copy; <!--copyright @<?php echo date('Y'); ?>--> by <span>Shubhangi and group</span></div>
    </section>