<nav class="navbar navbar-light bg-light">

    <div class="container">
        <div class="logo">
            <h2>Health<span>Care</span></h2>
        </div>
    
        <div class="row aling-items-center justify-content-between">
    
            <nav class="nav">
                    <a class="nav-link"  href="/">Home</a>
                    <a class="nav-link " href="/About">About Us</a>
                    <a class="nav-link"  href="/Srvices">Services</a>
                    <a class="nav-link"   href="/contact">Contacts</a>
                    <a class="nav-link " href="/login">Login</a>
                    
            </nav>
        </div>
        <div>
        <button type="submit" class="btn btn-link"><a class="nav-link"  href="/appointment">Make Appointment</a></button>
    
        </div>
        <div id="menu-btn" class="fas fa-bars"> </div>
    </div>
    </nav>
    
