<header>
<section class="home" id="home">
    <div class="container">
        <div class="row min-vh-100 aling-item-center">
            <div class="content text-center text-md-left">
                <h3>let us brighten yuor smile</h3>
                <h1>Providing an Exceptional Patient Experience</h1>
                <p>
                    lorem ipsum doloe sit amet consectetur,adipising elit.Laudantium itaque,
                    quasi aliqum alias tempora volutatibus.
                </p>
                <button type="submit" class="btn btn-link"><a class="nav-link"  href="/appointment">Make Appointment</a></button>
              

          
            </div>
        </div>
    </div>
</section>

<!--about section-->

<section class="about" id="about">
    <div class="container">
        <div class="row aling-items-left">
        <div class="col-md-5 image">
            <img src="assets/images/bg-02.png" class="w-100 mb-4 md-md-0" alt="">
        </div>  

        <div class="col-md-7 content">
            <h2><span>About us</span></h2>
            <h4>Helthcare For Your Family </h4>
            <p>
                Welcome to our healthcare website, your one-stop destination for
                reliable and comprehensive health care information. We are committed
                to promoting wellness and providing valuable resources to empower you
                on your health journey.
              </p>
              <p>
                Explore our extensive collection of expertly written articles and
                guides covering a wide range of health topics. From understanding
                common medical conditions to tips for maintaining a healthy lifestyle,
                our content is designed to educate, inspire, and support you in making
                informed choices for your health.
              </p>
              <p>
                Discover practical health tips and lifestyle advice to optimize your
                physical and mental well-being. We believe that small changes can lead
                to significant improvements in your quality of life, and we're here to
                guide you on your path to a healthier and happier you.
              </p>
              <button type="submit" class="btn btn-link"><a class="nav-link"  href="/appointment">Make Appointment</a></button>

        </div>

        </div>
    </div>
</section>


<section class="footer">
    <div class="box-container container">

    <div class="box">
    <i class="fas fa-phone"></i>
    <h3>phone number</h3>
    <p>+91 9611239965</p>
    <p>+91 9611239956</p>
    </div>

    <div class="box">
    <i class="fas fa-mapp-maker-alt"></i>
    <h3>our address</h3>
    <p>pune, india -411005</p>
    <p>+91 9611239956</p>
    <p>+91 9611239978</p>

    </div>

    <div class="box">
    <i class="fas fa-envelop"></i>
    <h3>email address</h3>
    <p>shubhangicom</p>
    <p>shrutika.com</p>
    </div>

    </div>

    <div class="credit"> &copy; <!--copyright @<?php echo date('Y'); ?>--> by <span>Shubhangi and group</span></div>
    </section>

</header>