
<section class="services" id="services">
   <div class="container">
    <h1 class="heading">Our Services</h1>
    <div class="box-container container">
        <div class="container mt-5">
            <div class="row">
              <div class="col-12 col-lg-12">

                <div class="row">
                  <div class="col-12 col-lg-4">
                    <div class="card mb-3">
                      <img src="assets/images/logo-2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title roboto fw-bold">DOCTORS</h5>
                        <p class="card-text">Our DOCTORS for your health see doctores information and book Appointment</p>
                        <button class="btn btn-outline-dark mb-5"><a  class="nav-link" href="/doctor"></a>See Doctor</button>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
               
                  
                      <div class="col-12 col-lg-4">
                        <div class="card mb-3">
                          <img src="assets/images/logo-2.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title roboto fw-bold">Medical Store</h5>
                            <p class="card-text">Buy your Medicine From Our website and get Home Deliverd</p>
                            <button class="btn btn-outline-dark mb-5"><a class="nav-link"  href="/buymedicine"></a>Buy Medicine</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>

                          <div class="col-12 col-lg-4">
                            <div class="card mb-3">
                              <img src="./assets/images/logo-2.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title roboto fw-bold">health Club</h5>
                                <p class="card-text">A Service which will make to have acess to the events about Healthcare including your Fitness and Diet</p>
                                <button class="btn btn-outline-dark mb-5"><a class="nav-link"  href="/events"></a>see Events</button>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                          </div>
                        
       </div>               
    </div>
 

    </div>

    </div>
    </div>
</div>
</section>